/* GENERAL */
body {
  font-family: "Roboto", sans-serif;
}

a:visited,
a:link {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 65px 0 80px 0;
}
section .heading {
  padding-bottom: 40px;
  margin: 0 50px;
}

.divider {
  width: 150px;
  height: 3px;
  background-color: #b0371c;
  margin: 0 auto 40px;
}

.divider.whit {
  background-color: #b0371c;
  margin: 0 auto 40px;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
}

title {
  font-size: 34px;
  text-align: center;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 16px;
}
.github-link i {
  color: black;
}

/* NAVBAR */
.navbar {
  background-color: #fbf5f4;
  letter-spacing: 2px;
  font-weight: bold;
}

.navbar-nav {
  margin: 0 auto;
  text-align: center;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
  margin: 0 6px;
}

.nav-link.active,
.nav-link:hover {
  color: #b0432b !important;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link i {
  margin-right: 10px;
}

/* A PROPOS */

#aPropos {
  background-color: #fbf5f4;
  padding: 50px 0;
}

.profile-picture {
  text-align: center;
  margin: 0px auto 30px;
}

.rounded-circle {
  width: 250px;
  height: auto;
  border: 2px solid#000000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  display: block;
}

#aPropos .heading h1 {
  margin-bottom: 20px;
  font-style: italic;
}
#aPropos .about {
  font-size: 1.3rem;
  color: black;
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* COMPETENCES */
#competences {
  background-color: #f7ece9;
  color: #333333;
  padding: 50px 0;
}

#competences.heading h2 {
  color: #333333;
}
#competences img {
  width: 80px;
  height: auto;
  object-fit: contain;
}
.tech-logo {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  display: inline-block;
}

.tech-logo.visible {
  opacity: 1;
  transform: translateY(0);
}

/* PORTFOLIO */
#portfolio {
  background-color: #fbf5f4;
}

#portfolio .heading h2 {
  color: #333333;
}

#portfolio img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

#portfolio img:hover {
  filter: none;
  -webkit-filter: none;
}

#portfolio .col-md-4 {
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: visible;
}

.img-thumbnail {
  display: block;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  filter: brightness(0.95) contrast(1.05);
  transition: filter 0.3s ease-in-out;
  box-shadow: 5px 5px 5px rgba(50, 10, 5, 0.3);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 10, 5, 0.7);
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbf5f4;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay p {
  text-align: justify;
  margin-top: 10px;
}

/* FOOTER */
footer {
  background-color: #fbf5f4;
  padding: 20px 0px 40px;
  text-align: center;
  font-family: "Arial", sans-serif;
}

footer span {
  color: #000000;
  font-size: 25px;
  line-height: 35px;
}

.footer-info p {
  margin: 0 0 10px;
  color: #000000;
}

.footer-info a {
  color: #000000;
  text-decoration: none;
}

.footer-info a[href^="tel:"],
.footer-info a[href^="mailto:"] {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-links a {
  font-size: 30px;
  transition: transform 0.3s ease, color 0.3s ease;
  border: none;
  background: none;
  padding: 0;
  text-decoration: none;
}

.footer-links a .bi {
  display: inline;
  vertical-align: middle;
}

.footer-links a:hover {
  transform: scale(1.2);
}

/*projet steamer*/
.return-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
}

.return-link:hover {
  color: #b0371c;
  transform: scale(1.1);
}

.project-images img.custom-img {
  height: 220px;
  object-fit: contain;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.project-section {
  padding: 65px 20px 80px 100px;
}

.project-text {
  padding-right: 15px;
}

.project-images {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.project-images img {
  max-width: 100%;
  height: 220px;
  margin-top: 100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.project-text h2,
.project-text p {
  margin: 0;
  padding: 0;
}

.project-text h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
  margin-top: 2rem;
  color: #333;
}

.project-text p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .profile-picture {
    max-width: 250px;
  }
  #aPropos .about {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  .project-images {
    flex-direction: column;
    align-items: center;
  }
  .project-images img.custom-img {
    height: 220px;
    object-fit: contain;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: -2px;
  }

  .project-section {
    padding: 65px 20px;
  }
}

.project-images img.custom-img {
  height: 220px;
  object-fit: contain;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: -2px;
}

.project-section {
  padding: 65px 20px;
}

@media (min-width: 300px) and (max-width: 767.98px) {
  #portfolio .col-md-4 {
    padding: 0 5px;
  }

  .image-container {
    height: auto;
    padding: 0;
    background: none;
  }

  .img-thumbnail {
    height: auto;
    object-fit: contain;
    box-shadow: none;
    border: none;
  }

  #portfolio img {
    height: auto;
    max-height: 250px;
    object-fit: contain;
    background: none;
  }

  .overlay {
    padding: 5px;
    font-size: 15px;
  }
  #aPropos .about {
    font-size: 1rem;
  }
}
